.products-card .container{
 display:  flex;
 width: 100%;
 flex-wrap: wrap;
 gap: 2%;

}
.products-card .container .product-fillerCategory{
    width: 23%;
    height: auto;
    position: relative;
    margin-bottom: 5px;
}
.products-card .container .product-fillerCategory .product-note{
    position: absolute;
    z-index: 10;
    top : 10px;
    left: 15px;
    padding: 3px 12px;
    background-color: var(--color-btDarkgreen);
}
.products-card .container .product-fillerCategory .product-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3 / 4;
}
.products-card .container .product-fillerCategory .product-price {
    display: flex;
    
}
/* .products-card .container .product-fillerCategory .product-title {
    display: flex;
} */